* {
    margin: 0px;
    padding: 0px;
}

.contenedor {
    height: 100vh;
}

.contenedor model-viewer {
    height: 80%;
    width: 100%;
}

p {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}